{% extends 'common/internal_page.html' %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">


{% block extrahead %}
<link rel="stylesheet" type="text/css" 
    href="/media/traffic_log/css/trafficlog.css" media="screen" />
<script type="text/javascript" 
    src="/media/common/js/jquery/jquery-1.3.1.js"></script>
<script type="text/javascript" 
    src="/media/common/js/chirp/chirp.js"></script>
<script type="text/javascript" 
    src="/media/traffic_log/js/trafficlog.js"></script>

{% block extrahead_for_page %}{% endblock %}

{% endblock %}

{% block content %}
<nobr>
{% block topbar %}
<h2>Traffic Log - {% now "F j, Y" %}</h2>
{% endblock %}
</nobr>

{% block nav %}
<ul id="nav">
<li class="log"><a href="/traffic_log/">Traffic Log</a></li>
<li class="spots"><a href="/traffic_log/spot">Spots</a></li>
<li class="new"><a href="/traffic_log/spot/create">New Spot</a></li>
<li class="add-spot-copy"><a href="/traffic_log/spot-copy/create">Add Spot Copy</a></li>
<li class="traffic-log-report"><a href="/traffic_log/report">Report</a></li>
<div class="clear"></div> <!-- clearing div -->
</ul>
{% endblock %}

<!--div id='tlcontent'>Loading...</div-->
<div class="contents">
{% block contents %}{% endblock %}
</div>
{% block modal %}{% endblock %}
{% endblock %}
