{% extends 'traffic_log/base_spots.html' %}
{% load traffic_log_filters %}

{% block contents %}
<p></p>
<form action="{{ formaction }}" method="post">
<table border="1" cellpadding="5" cellspacing="0">
{{ spot.as_table }}
<tr><td>*</td><td>
{% include 'traffic_log/spot_constraint_form.html' %}
<tr><td colspan="2" align="center"><input type="submit" name="Save Spot" value="Save Spot"/></td></tr>
<tr><td colspan=2>
{% if edit %}
{% include 'traffic_log/constraint_list_table.html'%}
{% endif %}
</td></tr>
</table>
</form>
{% endblock %}



