{% extends 'traffic_log/base.html' %}

<html><head><script src='/media/traffic_log/js/trafficlog.js' %} type="text/javascript"></script></head>
{% block title %}
Traffic Log for "DATE"
{% endblock %}


{% block nav %}
{{ block.super }}
<br/>

<input type="button" value="Refresh spots" />

{% endblock %}
{% block contents %}
<p/>

<table>
<tr>
    <th>Time slot</th>
    <th>Spot</th>
    <th>Actions</th>
</tr>
{% for slotted_spot in slotted_spots %}
<tr>
    <td><b>{{ slotted_spot.readable_slot_time }}</b></td>
    {# hmmm, I think there won't ever be multiple spots even though this is a list (kumar) #}
    {% for spot in slotted_spot.iter_spots  %}
    
    <td>{{ spot.title }}</td>
    <td>
        <input type="button" value="Show text for reading" /> 
        <input type="button" value="Done" /></td>
    
    {% endfor %}
</tr>

{# <input type="checkbox" name="readtime" value="readtime" /> #}
{# Hour:Slot #}
    
{% endfor %}
{% endblock %}
