{% extends 'traffic_log/base.html' %}
{% load traffic_log_extras %}

{% block extrahead_for_page %}
<script type="text/javascript" 
    src="/media/traffic_log/js/report.js"></script>
{% endblock %}

{% block title %}
Traffic Log Report
{% endblock %}

{% block contents %}
<p>Download report of Traffic Log activity</p>
<table>
<form action="{% url traffic_log.report %}" method="post">
{{ form.as_table }}
<tr>
  <td></td>
  <td>
      <div id="ready-link"></div>
      <input type="submit" name="download" id="download" value="Generate CSV" /></td>
</tr>
</form>
</table>
{% endblock %}
