
<table width="100%" border="1" cellpadding="3" cellspacing="0">
  <tr align="center">
	<td >
	    {{ constraint_form.dow_list.errors }}
	    {{ constraint_form.dow_list }}</td>
	<td>
      <p>
          <input type="button" class="filter-button" id="every-hour" value="Every Hour" />
          <input type="button" class="filter-button" id=":even" value="All Even Hours" />
          <input type="button" class="filter-button" id=":odd" value="All Odd Hours" />
          <input type="button" class="filter-button" id="3" value="Every Three Hours" />
          <input type="button" class="filter-button" id="6" value="Every Six Hours" />
      </p>
      <p>
          {{ constraint_form.hour_list.errors }}
          {{ constraint_form.hour_list.label }}
          {{ constraint_form.hour_list }}
      </p>
      <p>
          <input type="button" class="filter-button" id="reset" value="Reset" />
      </p>
	
	</td>
	<td>
	    {{ constraint_form.slot.errors }}
	    {{ constraint_form.slot }}
	</td>
  </tr>
</table>
