<table cellpadding="5" cellspacing="0" border="1">
<tr align="center"><td>Title</td><td>Type</td><td>Expire</td><td>Copy</td></tr>
{% for spot in spots %}
<tr><td><a href="{{spot.get_absolute_url}}">{{spot.title}}</a></td>
<td>{{spot.type}}</td>
<td>{{spot.expire_on}}</td>
<td>
{% for copy in spot.all_spot_copy %}
<p>
{{ copy }}
<a href="{{copy.get_edit_url}}">[Edit]</a>
<a href="{{copy.get_delete_url}}">[Delete]</a>
</p>
{% endfor %}
<p><a href="{{spot.get_add_copy_url}}">[Add spot copy]</a></p>
</td>
{% endfor %}
</table>
