<div id="{{ root_div_id }}" class="app-root" data-app-id="{{ app_id }}"
                  data-channel-url="{{ channel_url }}"
                  data-blank-album-cover="{{ MEDIA_URL }}fbapp/img/blank-album-cover.jpg"
                  data-chirp-icon-url="{{ chirp_icon_url }}"
                  data-connect-to-facebook="{{ connect_to_facebook|lower }}"
                  data-api-source="{{ api_source }}"
                  data-app-url="{{ app_url }}">
<div id="ch-app"
     {% if not in_page_tab %}
     class="ch-app-canvas"
     {% endif %}
      >
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}fbapp/css/app.css">
<script type="text/javascript" src="{{ MEDIA_URL }}common/js/jquery/jquery-1.6.4.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}fbapp/js/fbapp.js?{{ cache_stub }}"></script>
<div id="header">
  {% if connect_to_facebook %}
  <button class="add-to-page">Add to page</button>
  {% endif %}
  <a id="chirp-banner" href="http://chirpradio.org/" target="_blank"><span>CHIRPradio.org</span></a>
</div>
<div id="content">
  <div id="ch-player">
    <script language="JavaScript" type="text/javascript">
    	AC_FL_RunContent(
    		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
    		'width', '478',
    		'height', '32',
    		'src', '{{ MEDIA_URL }}fbapp/flash-player/_player',
    		'quality', 'high',
    		'pluginspage', 'http://www.adobe.com/go/getflashplayer',
    		'align', 'middle',
    		'play', 'true',
    		'loop', 'true',
    		'scale', 'showall',
    		'wmode', 'opaque',
    		'devicefont', 'false',
    		'id', 'player',
    		'bgcolor', 'white',
    		'name', 'player',
    		'menu', 'true',
    		'allowFullScreen', 'false',
    		'allowScriptAccess','sameDomain',
    		'movie', '{{ MEDIA_URL }}fbapp/flash-player/_player',
    		'salign', ''
    		); //end AC code
    </script>
  </div>
  <div class="track-list ch-now-playing">
    <h4>Now Playing <span class="ch-current-dj"></span></h4>
    <ul class="box"></ul>
  </div>
  <div class="track-list ch-recently-played">
    <h4>Recently Played</h4>
    <ul class="box"></ul>
  </div>
  <div class="last-fm">
    Album artwork courtesy of
    <a target="_blank" href="http://www.last.fm/">
      <img src="{{ MEDIA_URL }}fbapp/img/lastfm.jpg" height="13" width="54" alt="last.fm">
    </a>
  </div>
</div>
{% if show_live_fb %}
<div class="fb-live-stream" data-event-app-id="{{ app_id }}"
     data-width="520" data-height="500" data-always-post-to-friends="false"></div>
</div>
{% endif %}
</div>
