body {
    background-color: #fff;
}

blockquote {
    font-size: 12px;
    color: #000;
    margin-left: 2px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
}

#djdb_header {
  padding: 3px 8px 3px 8px;
  font-size: 11px;
  overflow: hidden;
}
#djdb_links {
    float: left;
    padding-top: 5px;
}
#djdb_search {
    float: right;
}

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('/media/common/img/indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { list-style-type:none; margin: 0 0 -1px 0; padding: 0.2em; font-size: 1.3em; border: solid 1px}
#sortable table td { border: solid 0px; margin: 0 0 0 0; padding: 0.2em; font-size: 1.0em; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-button { outline: 0; margin:0; text-decoration:none; !important; cursor:pointer; position: relative; text-align: center; }
.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }

#crate {
  width: 100%;
  margin: 0 auto;
}
#add-crate-item-column {
  float: left;
  width: 40%;
}
#crate-items-column {
  float: right;
  width: 60%;
}
#empty_crate {
  border: 1px solid #000;
  padding: 5px;
}

div.search_help {
  border: 1px solid;
  margin: 5px 0px;
  padding: 10px;
  overflow: auto;
  height: 100px;
}

div.tag {
  border: 1px solid #666;
  margin: 2px;
  padding: 2px;
  display: inline;
}

ul.activity {
  padding-left: 5px;
}
li.activity_comment {
  list-style-type: none;
  background: url('/media/common/img/comment_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_review {
  list-style-type: none;
  background: url('/media/common/img/review_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_tag {
  list-style-type: none;
  background: url('/media/common/img/tag_add_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_untag {
  list-style-type: none;
  background: url('/media/common/img/tag_remove_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_recommended {
  list-style-type: none;
  background: url('/media/common/img/recommended_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_unrecommended {
  list-style-type: none;
  background: url('/media/common/img/unrecommended_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_explicit {
  list-style-type: none;
  background: url('/media/common/img/explicit_icon.png') left top no-repeat;
  padding-left: 20px;
}
li.activity_unexplicit {
  list-style-type: none;
  background: url('/media/common/img/unexplicit_icon.png') left top no-repeat;
  padding-left: 20px;
}

#image_box_wrapper { 
  background: #000; 
}
#image_box {
  font-family: arial, helvetica, sans-serif;
  font-size: 9pt;
  background: #fff; 
  border-color: #ccc;
}
#image_box .title {
  background: #ddd;
}
#image_box .close a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
#image_box .close a:hover {
  background: none;
  color: #f00;
}
#image_box .image {
  background: #ddd;
}

#image_box_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
  opacity: .50;
}
#image_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
  text-align: left;
  border-size: 5px;
  border-style: solid;
}
#image_box .title {
  height: 20px;
  line-height: 20px;
  text-indent: 5px;
}
#image_box .close {
  display: block;
  float: right;
  text-align: right;
  padding-right: 5px;
}

h3.categories div {
  display: inline;
}
div.categories {
  display: inline;
}
div.categories div {
  display: inline;
}
div.track_heavy_rotation {
  color: red;
}
div.track_light_rotation {
  color: green;
}
div.track_local_current {
  color: darkcyan;
}
div.track_local_classic {
  color: orange;
}

div.scroll {
  overflow-y: scroll;
  height: 575px
}

tr.track_list td {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.25em;
}

.revoked {
  background-color: #ffdddd;
}



.tabbed_content {
	background-color: #fff;
}

.tabbed_content .slide_content {
	overflow: hidden;
    background-color: #e1d0d0;
    border: 5px solid #e1d0d0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
	padding: 20px 0 20px 20px;
	position: relative;
	width: 940px;
}

.tabslider {
	width: 5000px;
}

.tabslider ul {
	float: left;
	width: 900px;
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}

.tabslider ul a {
	color: #666;
	text-decoration: none;
}

.tabslider ul a:hover {
	color: #222;
}

.tabslider ul li {
	padding-bottom: 7px;
}

.browse_table td {
    border: none;
}

.gradient{
        /* webkit example */
        background-image: -webkit-gradient(
          linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );

        /* mozilla example - FF3.6+ */
        background-image: -moz-linear-gradient(
          right center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        /* IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColorStr=#FFFFFF
        );

        /* IE8 uses -ms-filter for whatever reason... */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColoStr=#FFFFFF
        );
    }

.gradient { 
    border: 0;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0), white, rgba(255,255,255,0));

/*	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFF), color-stop(50%,#444), color-stop(100%,#fff));
	background: -webkit-linear-gradient(left, #FFF 0%,#444 50%,#fff 100%);
	background: -moz-linear-gradient(left, #FFF 0%, #444 50%, #fff 100%);
	background: -ms-linear-gradient(left, #FFF 0%,#444 50%,#fff 100%);
	background: -o-linear-gradient(left, #FFF 0%,#444 50%,#fff 100%);
	background: linear-gradient(left, #FFF 0%,#444 50%,#fff 100%);	
*/
}

h3.browse {
    color: #5ea4f3;
    margin: 0;
    display: inline;
    font-weight: bold;
    font-size: 1.5em;
}

