{% extends "common/internal_page.html" %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

<p>
This is the album information page for <b>{{ album.title }}</b> by
<a href="{{ album.artist_url }}">{{ album.artist_name }}</a>.
It is still very primitive.
</p>

{% if album.current_tags %}
<h3>Album Tags</h3>
{% for tag in album.sorted_current_tags %}
[{{ tag }}]
{% endfor %}
{% endif %}

<h3>Tracks</h3>
<table>
{% for track in album.sorted_tracks %}
<tr
{% if track.is_explicit %}style="color: red;"{% endif %}
>
<td>{{ track.track_num }}.</td>
<td>{{ track.title }}</td>
<td>{{ track.duration }}</td>
<td><small>{{ track.bit_rate_kbps }} kbps</small></td>
<td>
{% for tag in track.sorted_current_tags %}
[{{tag}}]
{% endfor %}
</td>
</tr>
{% endfor %}
</table>

<h3>Reviews</h3>
{% if album.reviews %}
<a href="new_review">Write another review</a> of this album.
{% for doc in album.reviews %}
<p>
<b>{{ doc.title }}</b><br>
<i>By {{ doc.author }}</i><br>
<small>Added {{ doc.timestamp_display|date:"F j, Y P" }}</small><br>
{{ doc.text|safe }}
</p>
{% endfor %}
{% else %}
No reviews yet!  You could be the first to
<a href="new_review">write a review</a> of this album.
{% endif %}


{% endblock %}
