{% extends "djdb/internal_page.html" %}

{% load common_extras %}
{% load djdb_extras %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

{% block extrahead %}
<script type="text/javascript" 
    src="/media/common/js/jquery/jquery-1.3.1.js"></script>
<script type="text/javascript" 
    src="/media/djdb/js/djdb.js"></script>
{% endblock %}

{% if msg %}
<div class="success">
{{ msg }}
</div>
{% endif %}

<h3>Albums</h3>

{% if user.is_music_director %}
<form method="post" name="djdbForm" action="update">
<p>
Select: <a id="checkbox_all" href="">All</a>,
        <a id="checkbox_none" href="">None</a>,
        <a id="checkbox_nocat" href="">No category</a>,
  {% for category in categories %}
    {% if not forloop.first %}, {% endif %}
        <a id="checkbox_{{ category }}" href="">{{ category|replace:"/_/ "|capfirst }}</a>
  {% endfor %}<br/>
Mark selected as: <a id="mark_nocat" href="update">No category</a>,
  {% for category in categories %}
    {% if not forloop.first %}, {% endif %}
                  <a id="mark_{{ category }}" href="update">{{ category|replace:"/_/ "|capfirst }}</a>
  {% endfor %}
</p>

<input type="hidden" name="mark_as"/>
<input type="hidden" name="response_page" value="artist"/>
<input type="hidden" name="artist_name" value="{{ artist.name }}"/>
{% endif %}
<table>
{% for album in artist.sorted_albums %}
  <tr>
  {% if user.is_music_director %}
    <td>
      <input type="checkbox" class="checkbox {{ album.category|lower}}"
             name="checkbox_{{ forloop.counter }}"/>
    </td>
    <td>
      <input type="hidden" name="album_key_{{ forloop.counter }}" value="{{ album.key }}"/>
    {% ifequal album.category None %}
      No category
    {% else %}
      {{ album.category|replace:"/_/ "|capfirst }}
    {% endifequal %}
    </td>
  {% endif %}
    <td><a href="{{ album.url }}">{{ album }}</a></td>
  <td>
  {% ifnotequal album.label None %}
  {{ album.label }}
  {% endifnotequal %}
  </td>
  <td>
  {% ifnotequal album.year None %}
  {{ album.year }}
  {% endifnotequal %}
  </td>
    <td>
      {{ album.num_tracks }} track{{ album.num_tracks|pluralize }}
    </td>
    <td>
  {% if album.num_reviews %}
    {{ album.num_reviews }} review{{ album.num_reviews|pluralize }}
  {% endif %}
    </td>
    <td>
  {% ifincrate user album %}
      <a href="/djdb/crate/remove_item?response_page=artist&user_key={{ user.key }}&item_key={{ album.key }}"><img src="/media/common/img/remove.png" alt="Remove Album from Crate" title="Remove from Crate"/></a>
  {% else %}
      <a href="/djdb/crate/add_item?response_page=artist&user_key={{ user.key }}&item_key={{ album.key }}"><img src="/media/common/img/add.png" alt="Add Album to Crate" title="Add to Crate"/></a>
  {% endifincrate %}
    </td>
  </tr>
{% endfor %}
</table>
{% if user.is_music_director %}
</form>
{% endif %}

{% endblock %}
