{% extends "common/internal_page.html" %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

<p>
This is the artist information page for <b>{{ artist.pretty_name }}</b>.
It is still very primitive.
</p>

<h3>Albums by {{ artist.pretty_name }}</h3>
<table>
{% for album in artist.sorted_albums %}
<tr>
<td><a href="{{ album.url }}">{{ album.title }}</a></td>
<td>
{{ album.num_tracks }} track{{ album.num_tracks|pluralize }}
</td>
<td>
{% if album.num_reviews %}
{{ album.num_reviews }} review{{ album.num_reviews|pluralize }}
{% endif %}
</td>
</tr>
{% endfor %}
</table>

{% endblock %}
