{% extends "djdb/internal_page.html" %}

{% load common_extras %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

{% block extrahead %}
<script type="text/javascript" 
    src="/media/common/js/jquery/jquery-1.3.1.js"></script>
<script type="text/javascript" 
    src="/media/djdb/js/djdb.js"></script>
{% endblock %}

<h3>
By: [
{% ifequal entity_kind "artist" %}
Artist
{% else %}
<a href="/djdb/browse/artist/{{ start_char }}?page_size={{ page_size }}">Artist</a>
{% endifequal %}
|
{% ifequal entity_kind "album" %}
Album
{% else %}
<a href="/djdb/browse/album/{{ start_char }}?page_size={{ page_size }}">Album</a>
{% endifequal %}
|
{% ifequal entity_kind "track" %}
Track
{% else %}
<a href="/djdb/browse/track/{{ start_char }}?page_size={{ page_size }}">Track</a>
{% endifequal %}
]
<br/>

{% ifequal entity_kind "album" %}
Category: [
  {% ifequal category None %}
All
  {% else %}
<a href="/djdb/browse/{{ entity_kind }}/{{ start_char }}?page_size={{ page_size }}">All</a>
  {% endifequal %}
|
  {% for cat in categories %}
    {% if not forloop.first %} | {% endif %}
    {% ifequal category cat %}
{{ cat|replace:"/_/ "|capfirst }}
    {% else %}
<a href="/djdb/browse/{{ entity_kind }}/{{ start_char }}?page_size={{ page_size }}&category={{ cat }}">{{ cat|replace:"/_/ "|capfirst }}</a>
    {% endifequal %}
  {% endfor %}
]
<br/>
{% endifequal %}

Starts with: [
  {% ifequal start_char "all" %}
All
  {% else %}
    {% ifnotequal category None %}
<a href="/djdb/browse/{{ entity_kind }}/all?category={{ category }}&page_size={{ page_size }}">All</a>
    {% else %}
<a href="/djdb/browse/{{ entity_kind }}/all?page_size={{ page_size }}">All</a>
    {% endifnotequal %}
  {% endifequal %}
|
  {% ifequal start_char "0" %}
0-9
  {% else %}
    {% ifnotequal category None %}
<a href="/djdb/browse/{{ entity_kind }}/0?category={{ category }}&page_size={{ page_size }}">0-9</a>
    {% else %}
<a href="/djdb/browse/{{ entity_kind }}/0?page_size={{ page_size }}">0-9</a>
    {% endifnotequal %}
  {% endifequal %}
|
  {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    {% ifequal letter start_char %}
{{ letter }}
    {% else %}
      {% ifnotequal category None %}
<a href="/djdb/browse/{{ entity_kind }}/{{ letter }}?category={{ category }}&page_size={{ page_size }}">{{ letter }}</a>
      {% else %}
<a href="/djdb/browse/{{ entity_kind }}/{{ letter }}?page_size={{ page_size }}">{{ letter }}</a>
      {% endifnotequal %}
    {% endifequal %}
|
  {% endfor %}
  {% ifequal start_char "other" %}
Other
  {% else %}
    {% ifnotequal category None %}
<a href="/djdb/browse/{{ entity_kind }}/other?category={{ category }}&page_size={{ page_size }}">Other</a>
    {% else %}
<a href="/djdb/browse/{{ entity_kind }}/other?page_size={{ page_size }}">Other</a>
    {% endifnotequal %}
  {% endifequal %}
]
</h3>

<form action="/djdb/browse/{{ entity_kind }}/{{ start_char }}" method="post">
  Page size:
  <select name="page_size" id="id_page_size">
  {% for num in page_sizes %}
    {% ifequal page_size num %}
    <option value="{{ num }}" selected="selected">{{ num }}</option>
    {% else %}
    <option value="{{ num }}">{{ num }}</option>
    {% endifequal %}
  {% endfor %}
  </select>
  <input type="submit" name="update" value="Update"/>
  {% ifnotequal bookmark None %}
  <input type="hidden" id="bookmark" name="bookmark" value="{{ bookmark }}"/>
  {% endifnotequal %}
  {% ifnotequal category None %}
  <input type="hidden" name="category" value="{{ category }}"/>
  {% endifnotequal %}
</form>

{% if items %}
<form action="/djdb/browse/{{ entity_kind }}/{{ start_char }}" name="paging" method="post">
{% ifequal prev None %}
  <input disabled="disabled" type="submit" name="start" value="&lt;&lt;"/>
  <input disabled="disabled" type="submit" name="prev" onclick="document.paging.bookmark.value='{{ prev }}'" value="Previous Page"/>
{% else %}
  <input type="submit" name="start" value="&lt;&lt;"/>
  <input type="submit" name="prev" onclick="document.paging.bookmark.value='{{ prev }}'" value="Previous Page"/>
{% endifequal %}
{% ifequal next None %}
  <input disabled="disabled" type="submit" name="next" onclick="document.paging.bookmark.value='{{ next }}'" value="Next Page"/>
{% else %}
  <input type="submit" name="next" onclick="document.paging.bookmark.value='{{ next }}'" value="Next Page"/>
{% endifequal %}
  <input type="hidden" id="bookmark" name="bookmark" value=""/>
  <input type="hidden" name="page_size" value="{{ page_size }}"/>
  {% ifnotequal category None %}
  <input type="hidden" name="category" value="{{ category }}"/>
  {% endifnotequal %}
</form>

<table>
  {% for item in items %}
  <tr>
    {% ifequal entity_kind "artist" %}
    <td><a href="{{ item.url }}">{{ item.name }}</a></td>
    {% endifequal %}
    {% ifequal entity_kind "album" %}
    <td>[{{ item.category|replace:"/_/ "|capfirst }}]</td>
    <td><a href="{{ item.url }}">{{ item.title }}</a> / <a href="{{ item.album_artist.url }}">{{ item.album_artist }}</a></td>
    <td>
    {% if item.num_reviews %}
      {{ item.num_reviews }} review{{ item.num_reviews|pluralize }}
    {% endif %}
    </td>
    {% endifequal %}
    {% ifequal entity_kind "track" %}
    <td>{{ item.title }} / <a href="{{ item.album.url }}">{{ item.album }}</a> / <a href="{{ item.album.album_artist.url }}">{{ item.album.album_artist }}</a></td>
    {% endifequal %}
  </tr>
  {% endfor %}
</table>

<form action="/djdb/browse/{{ entity_kind }}/{{ start_char }}" name="paging2" method="post">
{% ifequal prev None %}
  <input disabled="disabled" type="submit" name="start" value="&lt;&lt;"/>
  <input disabled="disabled" type="submit" name="prev" onclick="document.paging2.bookmark.value='{{ prev }}'" value="Previous Page"/>
{% else %}
  <input type="submit" name="start" value="&lt;&lt;"/>
  <input type="submit" name="prev" onclick="document.paging2.bookmark.value='{{ prev }}'" value="Previous Page"/>
{% endifequal %}
{% ifequal next None %}
  <input disabled="disabled" type="submit" name="next" onclick="document.paging2.bookmark.value='{{ next }}'" value="Next Page"/>
{% else %}
  <input type="submit" name="next" onclick="document.paging2.bookmark.value='{{ next }}'" value="Next Page"/>
{% endifequal %}
  <input type="hidden" id="bookmark" name="bookmark" value=""/>
  <input type="hidden" name="author_key" value="{{ author_key }}"/>
  <input type="hidden" name="page_size" value="{{ page_size }}"/>
  {% ifnotequal category None %}
  <input type="hidden" name="category" value="{{ category }}"/>
  {% endifnotequal %}
</form>
{% else %}
No items.
{% endif %}

{% endblock %}
