{% extends "common/internal_page.html" %}

{% load djdb_extras %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

{% block extrastyle %}
<link rel="stylesheet" href="/media/djdb/djdb.css"/>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="/media/common/js/jquery-ui/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/media/common/js/jquery-ui/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/media/djdb/js/djdb.js"></script>
{% endblock %}

<p>
This is the crate page for <b>{{ user }}</b>.
</p>

<div id="reorder"></div>

<h3>Items in Your Crate:</h3>

<p>
{% if crate_items %}
(You may reorder items in your crate by dragging and dropping.)
<ul id="sortable">
  {% for item in crate_items %}
  <li id="item_{{ forloop.counter }}" class="ui-state-default">
    {% ifequal item.kind 'Artist' %}
<img src="/media/common/img/artist.png" alt="An artist" title="An artist"/>
{{ item }}
<a href="{{ item.url }}" alt="Go to artist." title="Go to artist."><img src="/media/common/img/link.png"/></a>
    {% else %}
      {% ifequal item.kind 'Album' %}
<img src="/media/common/img/album.png" alt="An album" title="An album"/>
{{ item.album_artist }} / {{ item }}
<a href="{{ item.url }}" alt="Go to album." title="Go to album."><img src="/media/common/img/link.png"/></a>
      {% else %}
        {% ifequal item.kind 'Track' %}
<img src="/media/common/img/track.png" alt="A track" title="A track"/>
{{ item.album.album_artist }} / {{ item.album }} / {{ item }}
<a href="{{ item.album.url }}" alt="Go to track." title="Go to track."><img src="/media/common/img/link.png"/></a>
        {% endifequal %}
      {% endifequal %}
    {% endifequal %}
    <span><a href="/djdb/crate/remove_item?response_page=crate&item_key={{ item.key }}"><img src="/media/common/img/remove.png" alt="Remove Item from Crate" title="Remove Item from Crate"/></a></span>
  </li>
  {% endfor %}
</ul>
{% else %}
There are no items in your crate.
{% endif %}
</p>

{% endblock %}
