{% extends "common/internal_page.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="/media/djdb/djdb.css" />
{% endblock %}

{% block subheader %}
  <!-- <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div> -->
  <div id="djdb_header">
    <div id="djdb_links">
    {% if user.is_music_director %}
      <a href="/djdb/tags">Edit tags</a> |
    {% endif %}
      <a href="/djdb/user">Find a DJ</a> |
      <a href="/djdb/reviews">Browse Reviews</a> |
      <a href="/djdb/crate">Go to your crate</a>
    </div>
    <div id="djdb_search">
      <form action="/djdb/" method="post">
        <input type="text" name="query"/>
        <input type="submit" value="Search"/>
      </form>
    </div>
  </div>
{% endblock %}

{% block content_container %}
  {% if artist.revoked %}
  <div id="content" class="revoked">
  {% else %}
    {% if album.revoked %}
  <div id="content" class="revoked">
    {% else %}
  <div id="content">
    {% endif %}
  {% endif %}
    {% if title %}
    <h1>
      {% autoescape off %}
{{ title }}
      {% endautoescape %}
    </h1>
    {% endif %}
    {% block content %}{% endblock %}
  </div> {# end of content #}
{% endblock %}
