{% extends "common/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" href="/media/djdb/djdb.css" />
{% endblock %}

{% block page_content %}
  <div id="header">
      <a href="/">
	<img src="/media/common/img/chirp-logo-small.gif" style="float:left;">
      </a>
      <h1>chirpradio: CHIRP internal applications</h1>
      <small>(Know HTML and CSS?  Have good taste?  If so, 
      please volunteer to make this page look better!)</small>
  </div> {# end of header #}
  <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
  <div id="djdb_header">
    <div id="djdb_links">
    {% if user.is_music_director %}
      <a href="/djdb/tags">Edit tags</a> |
    {% endif %}
      <a href="/djdb/crate">Go to your crate</a>
    </div>
    <div id="djdb_search">
      <form action="/djdb/" method="post">
        <input type="text" name="query"/>
        <input type="submit" value="Search"/>
      </form>
    </div>
  </div>
  <div id="content">
    {% if title %}
      {% autoescape off %}
    <h1>{{ title }}</h1>
      {% endautoescape %}
    {% endif %}
    {% block content %}{% endblock %}
  </div> {# end of content #}
{% endblock %}