{% extends "common/base.html" %}

{% block content %}
Landing page for DJDB app

<h2>Search the Database</h2>
<form action="" method="post">
<input type="text" name="query">
<input type="submit" value="Search">
</form>
</p>

{% if query_str %}
<p>Query was "{{ query_str }}".
{% if invalid_query %}<br><b>Invalid Query!</b>{% endif %}
</p>

<h3>Artists</h3>
<i>{{ query_results.Artist|length }} matching artists</i><br>
{% if query_results.Artist %}
<table>
{% for artist in query_results.Artist %}
<tr>
<td><a href="{{ artist.url}}">{{ artist.pretty_name }}</a></td>
<td>{{ artist.num_albums }} albums</td>
</tr>
{% endfor %}
</table>
{% endif %}

<h3>Albums</h3>
<i>{{ query_results.Album|length }} matching albums</i><br>
{% if query_results.Album %}
<table>
{% for album in query_results.Album %}
<tr>
<td><a href="{{ album.artist_url}}">{{ album.artist_name }}</a></td>
<td><a href="{{ album.url }}">{{ album.title }}</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

<h3>Tracks</h3>
<i>{{ query_results.Track|length }} matching tracks</i>
{% if query_results.Track %}
<table>
{% for track in query_results.Track %}
<tr>
<td>{{ track.title }}</td>
<td><a href="{{ track.artist_url }}">{{ track.artist_name }}</a></td>
<td><a href="{{ track.album.url }}">{{ track.album.title }}</a></td>
{% endfor %}
</table>
{% endif %}

{% endif %}


{% endblock %}
