{% extends "common/internal_page.html" %}
{% load common_extras %}
{% load djdb_extras %}

{% block extrastyle %}
<link rel="stylesheet" href="/media/djdb/djdb.css" />
{% endblock %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

{% block extrahead %}
<script type="text/javascript" 
    src="/media/common/js/jquery/jquery-1.3.1.js"></script>
<script type="text/javascript" 
    src="/media/common/js/jquery-autocomplete/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/media/djdb/js/djdb.js"></script>
<script type="text/javascript" src="/media/djdb/js/djdb_user.js"></script>
{% endblock %}

<p>
<a href="/djdb/crate">Go to your crate.</a>
</p>

<form action="" method="post">
{{ form.as_table }}
  <input type="submit" name="search" value="Search"/>
</form>

<br/>
<hr/>
<br/>

<p>
{{ num_reviews }} Reviews
</p>

<ul>
{% for rev in reviews %}
  <li> <a href="{{ rev.subject.url }}">{{ rev.subject.album_artist.name }} / {{ rev.subject.title }},</a>
reviewed by {{ rev.author }}
&nbsp;&nbsp;
  <small>Posted {{ rev.created_display|date:"F j, Y P" }}</small> </li>
{% endfor %}
</ul>

{% endblock %}
