{% extends "djdb/internal_page.html" %}

{% load common_extras %}
{% load djdb_extras %}

{% block breadcrumbs %}
<a href="/">chipradio home</a> /
<a href="/djdb/">DJ Database home</a>
{% endblock %}

{% block content %}

{% if error %}
<div class="warning">
{{ error }}
</div>
{% endif %}

{% if new %}
<form method="post" action="/djdb/tags/new">
{% else %}
<form method="post" action="/djdb/tag/{{ tag.name }}">
{% endif %}
  <table>
{{ form.as_table }}
  </table>
  <input type="submit" value="Submit">
</form>

{% endblock %}
