{% extends "common/internal_page.html" %}

{% block content %}
<p>
Hello {{ user }}!<br>
{% if user.is_superuser %}
Congratulations!  You are a superuser.<br>
{% endif %}
{% for r in user.roles %}
You have been granted the role "{{ r }}".<br>
{% endfor %}
</p>

<p>
There isn't much here yet.  Things you can do:
<ul>
<li> <a href="/djdb">DJ Database</a>
<li> <a href="/playlists">Playlist Tracker</a>
<li> <a href="/traffic_log">Traffic Log</a>
{% if user.is_volunteer_coordinator %}
<li> <a href="/auth">User Management</a>
{% endif %}
<li> <a href="/auth/change_password">Change Your Password</a>
</ul>
</p>

{% endblock %}
