<html>
<head><title>{{ readable_exception }}</title>
<style type="text/css">
    h1 {
        font-size: 4em;
    }
    ol {
        margin: 1em;
        font-size: 2em;
    }
    #infinity {
        width: 220;
        float: left;
        margin-right: 4em;
    }
    img {
        border: 0;
    }
</style>
</head>
<body>
<h1>{{ readable_exception }}</h1>
<ol>
    <li><b>Refresh</b> the page to try again</li>
    <li>If it persists, please <b>email</b> someone in the Tech dept and summarize what you were trying to do. You don't need to email us this page.</li>
</ol>
<div id="infinity">
    <img src="{{ MEDIA_URL }}errors/acidcat.gif" width="367" height="490" />
</div>
</body></html>
