/* This file is based on a CSS file from Django 1.0.2's admin interface. */

/* PAGE STRUCTURE */
#container { position:relative; width:100%; min-width:760px; padding:0; }
#content { margin:10px 15px; }
#content-main { float:left; width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }
#footer { clear:both; padding:10px; }
.clear {display:block; clear:both; height:0px; overflow:hidden; }

/*  COLUMN TYPES  */
.colMS { margin-right:20em !important; }
.colSM { margin-left:20em !important; }
.colSM #content-related { float:left; margin-right:0; margin-left:-19em; }
.colSM #content-main { float:right; }
.popup .colM { width:95%; }
.subcol { float:left; width:46%; margin-right:15px; }
.dashboard #content { width:500px; }

/*  HEADER  */
#header { background:#4a4a4a; color:#fff; padding:10px; position:relative; }
#header h1 { padding:0 10px; font-size:18px; line-height:24px; margin:0 10px 10px; font-weight:bold; color:#fff; }
#branding h2 { padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc; }
#user-tools { position:absolute; top:0; right:0; padding:1.2em 10px; font-size:11px; text-align:right; }

#auth { text-align:right; padding:8px; position:absolute; top:10px; right:10px; background:#6a6a6a; padding:8px 4px 8px 8px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
#auth a { padding:2px 3px; background:#ec0035 url(../img/gradient-white-small.png) left top repeat-x; color:#fff; font-weight:bold; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:1px solid #000; white-space: nowrap; margin-left:3px; }
#auth a:hover { text-decoration:none; border-color:#2a2a2a; background-color:#2a2a2a; color:#ff0; }
#auth a:active { background-color: #000; }

#headband { background:#000; padding:0; font-size:9px; }
#headband p#warning { padding:8px; margin:0; background:#ff0; line-height: 1.5em; }
#headband a { padding:1px 3px 2px; background:#4a4a4a url(../img/gradient-white-small.png) left top repeat-x; color:#fff; font-weight:bold; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #4a4a4a; white-space: nowrap; }
#headband a:hover { background-color:#2a2a2a; }
#headband a:active { background-color:#000; border-color:#000; }

/* BREADCRUMBS */
.breadcrumbs { background:#6a6a6a; padding:4px 8px 5px; display:inline; font-size:11px;  color:#cacaca; text-align:left; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.breadcrumbs a { color: #fff; }
.breadcrumbs a:hover { color: #ff0; }

/* SIDEBAR */
#content-related h3 { font-size:12px; color:#666; margin-bottom:3px; }
#content-related h4 { font-size:11px; }
#content-related .module h2 { background:#eee url(../img/admin/nav-bg.gif) bottom left repeat-x; color:#666; }