<html>
<head>
    <title>500 Error</title>
</head>
<body>
    <h1>500 - Internal Server Error</h1>
    <p>
        Hello. It looks like an unexpected error just happened.  <b>Refresh the page</b> to try again.  If the error persists then please alert someone in the CHIRP Tech dept.
    </p>
    <p>
        We have a record of the error in the logs so you can just tell us the time it occurred.  If you can summarize what you were doing at the time then that would help a lot.  Thanks!
    </p>
</body>
</html>