#content { width: 800px; margin: 10px auto; position: relative; }

ul#nav { padding: 0; }
ul#nav li { float: left; display: inline; }
ul#nav li a { display: block; background: #9a9a9a; padding: 5px 10px; margin-right: 1px; font-weight: bold; color: #fff; }
ul#nav li a:hover { color: #ff0; background: #4a4a4a; }
ul#nav li.log a { -webkit-border-top-left-radius:3px; -webkit-border-bottom-left-radius:3px; -moz-border-radius-topleft:3px; -moz-border-radius-bottomleft:3px; border-bottom-left-radius:3px; }
ul#nav li.new a { -webkit-border-top-right-radius:3px; -webkit-border-bottom-right-radius:3px; -moz-border-radius-topright:3px; -moz-border-radius-bottomright:3px; border-bottom-right-radius:3px; }

input#refresh-button { background: #009438 url(../../common/img/gradient-white-small.png) left top repeat-x; padding: 3px; color: #fff; border: 1px solid #009438; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font-weight: bold; font-size: 1.2em; position: absolute; top: 24px; right: 0; }
input#refresh-button:hover { cursor: pointer; background-color: #2a2a2a; border-color: #2a2a2a; color: #ff0; }

table { width: 800px; }
tr.new { background: #fff; }
th, td { border-bottom: none; padding: 8px 10px; }
th, tr.new td { font-size: 1.1em; padding: 12px 10px 11px; }
th { background-color: #6a6a6a; color: #ff0; }
td { border-top: 1px solid #6a6a6a; }

span.to-do { font-weight: bold; color: #ec0035; background-color: #fff; border: 1px solid #ec0035; font-size: .8em; padding: 0 2px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; display: none; }
.new span.to-do { display: inline; }

a.show-text-for-reading, a.finish-spot { margin-right: 5px; }
tr.new a.show-text-for-reading, a.finish-spot { background: #009438 url(../../common/img/gradient-white-small.png) left top repeat-x; border: 1px solid #009438; font-weight: bold; color: #fff; padding: 2px 5px 3px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
a.finish-spot { border-color: #ec0035; background-color: #ec0035; }
a.finish-spot:hover, tr.new a.show-text-for-reading:hover { background-color: #2a2a2a; border-color: #2a2a2a; color: #ff0; }

/* MODAL BOX STYLES */

.jqmOverlay { background-color: #000; }

.spot_detail_for_reading { width: 740px; font-size: 3.5em; line-height: 1.4em; padding-top: 10px; font-family: Georgia; }
.spot-reading-buttons { height: 25px; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ccc; text-align: right; }

.spot-reading-buttons a { font-size 1em; line-height: 1em; margin: 15px 15px 0 0; font-family: "Lucida Grande",Verdana,Arial,sans-serif; }
a.jqmClose { margin-right: 0; color: #333; }
a.jqmClose strong { font-weight: bold; color: #ec0035; }
a.finish-spot-after-reading {  background: #ec0035 url(../../common/img/gradient-white-small.png) left top repeat-x; border: 1px solid #ec0035; font-weight: bold; color: #fff; padding: 2px 5px 3px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }

a.finish-spot-after-reading:hover { background-color: #2a2a2a; border-color: #2a2a2a; color: #ff0; }
a.jqmClose:hover { color: #999; }

#modal-container { background: #fff; padding: 30px; display: none; position: absolute; top: 0; width: 740px; margin: 0 auto 100px; -webkit-border-
radius:10px; -moz-border-radius:10px; border-radius:10px; box-shadow: 0px 0px 35px #000; -moz-box-shadow: 0px 0px 35px #000; -webkit-box-shadow: 0px 0px 35px #000; }
