
.spot_detail_for_reading {
    width: 750px;
    padding: 0.3em;
    font-size: 4em;
    line-height: 1.1em;
}

#facebox .body {
    width: 750px;
}

/*#facebox table {
    width: 600px;
}*/
/*#facebox .content {
    width: 75%;
}*/

table#traffic_log tr.new {
    background: #FFADF7;
}

table#traffic_log tr.finished {
    background: none;
}