<?php

// Database connection settings
$db_username = '';
$db_password = '';
$db_host = '';
$db_name = '';
$db_port = '3306';

// API Authentication
$api_auth_realm = 'CHIRP API';
$api_auth_users = array(
    'api_username' => 'api_password',
);

?>
