
/* YUI CSS RESET via Yahoo! */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; } 
table { border-collapse: collapse; border-spacing: 0; } 
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,th,var { font-style: normal; font-weight: normal; } 
ol,ul { list-style: none; } 
caption,th { text-align: left; } 
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; } 
q:before,q:after { content: ''; } 
abbr,acronym { border: 0; } 

/* GLOBAL STYLES */

body { font-size: 62.5%; font-family: Helvetica, Arial, sans-serif; background: #fff; color: #4a4a4a; } /* Reset 1em to 10px */

/* BUILDING BLOCKS */

#playlist { width: 800px; margin: 0 auto; }
#form-column { float: left; width: 334px; background: transparent url(shadow.png) right top repeat-y; }
#playlist-column { float: right; width: 450px; }
.song-info { border-bottom: 1px solid #aaa; padding: 20px 0 16px; }

/* HEADLINES & TEXT */

#playlist h1 { width: 301px; height: 48px; text-indent: -9999px; background: transparent url(header.png) left top no-repeat; margin: 20px 0; }
h2 { margin-top: 20px; padding-bottom: 10px; color: #ec0035; font-size: 12px; font-weight: bold; text-transform: uppercase; border-bottom: 3px double #aaa; }
.song-info p { 
    font-size: 18px; 
    line-height: 22px; 
    margin-bottom: 5px; 
    color: #aaa; 
}
p.time { font-weight: bold; font-size: 11px; line-height: 11px; color: #ec0035; }
p.notes { color: #999; font-size: 14px; line-height: 16px; }
p.break { 
    padding: 2px 5px 2px 5px; 
    font-weight: bold; 
    color: #fff; 
    background: #aaa; 
    text-transform: uppercase; 
}
.song-info span { color: #2a2a2a; }
span.artist { font-weight: bold; }
p.links { border-top: 1px solid #aaa; margin-top: 1px; padding-top: 10px; font-size: 12px; text-align: right; }

/* LINKS */

p.links a { color: #ec0035; text-decoration: none; font-weight: bold; padding: 3px 5px; }
p.links a:hover { color: #fff; background: #ec3005; }

/* FORMS */

#playlist-form { width: 334px; padding-bottom: 110px; background: transparent url(shadow_bottom.png) right bottom no-repeat; }
#playlist-form label { display: block; width: 291px; font-size: 12px; font-weight: bold; padding: 5px; color: #fff; background: #5ed4f3; text-transform: uppercase; }
#playlist-form input.text, #playlist-form textarea { 
    margin-bottom: 15px; 
    border: 1px solid #5ed4f3; 
    width: 293px; 
    font-size: 12px; 
    line-height: 17px; 
    color: #4a4a4a; 
    padding: 3px; 
}
#playlist-form input:focus.text, #playlist-form textarea:focus { background: #ffffc8; }
#playlist-form input.button { width: 200px; display: block; margin-bottom: 15px; }

/* LISTS */

/* ERRORS */

#playlist-form ul.errorlist {
    list-style: square inside;
    margin: 0 0 0.5em 0;
}
#playlist-form ul.errorlist li {
    color: #ec0035;
    /* slightly counteract the 62.5% affect from body: */
    font-size: 1.2em;
}

/* MANAGEMENT */

p.playlist-event-management {
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
    text-align: right;
}

/* AUTOCOMPLETE */
input.ac_loading {
    
}
.ac_over {
    font-weight: bold;
}
.ac_results li {
    cursor: pointer;
    list-style: none;
    font-size: 12px; 
    line-height: 17px; 
    color: #4a4a4a; 
    padding: 3px; 
    background: #ffffc8;
    border: 1px solid #5ed4f3;
}

/* CHIRP */
#auth {
    border-bottom: 1px solid #000;
}